/*=========================================
RESET CSS
=========================================*/

*,
*::before,
*::after{

margin:0;
padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

-webkit-text-size-adjust:100%;

}

body{

width:100%;

min-height:100vh;

overflow-x:hidden;

font-family:"Libre Baskerville",serif;

background:#FDF8F4;

color:#555;

}

img{

display:block;

width:100%;

height:auto;

user-select:none;

-webkit-user-drag:none;

}

a{

text-decoration:none;

color:inherit;

}

button{

border:none;

outline:none;

background:none;

cursor:pointer;

font-family:inherit;

}

input,
textarea,
select{

font-family:inherit;

outline:none;

border:none;

background:none;

}

ul{

list-style:none;

}

iframe{

border:none;

display:block;

width:100%;

}

section{

position:relative;

width:100%;

}

::-webkit-scrollbar{

width:6px;

}

::-webkit-scrollbar-thumb{

background:#C6A46A;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#F5EFE8;

}

::selection{

background:#D8B983;

color:white;

}